<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="author" content="Joabson Arley">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Comprovante de matricula</title>
		<!-- Bootstrap -->
		<link href="@{'/public/vendors/bootstrap/dist/css/bootstrap.min.css'}" rel="stylesheet" media="all">
		<link href="@{'/public/stylesheets/print/printA5.css'}" rel="stylesheet" media="print">
		<script type="text/javascript">
			meses = new Array("Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro");
			semana = new Array("Domingo","Segunda-feira","Terça-feira","Quarta-feira","Quinta-feira","Sexta-feira","Sábado");
			function DiaExtenso() {
				hoje = new Date();
				dia = hoje.getDate();
				dias = hoje.getDay();
				mes = hoje.getMonth();
				ano = hoje.getYear();
				if (navigator.appName == "Netscape")
				  ano = ano + 1900;
				diaext = dia + " de " + meses[mes] + " de " + ano; //semana[dias] + ", " +
				return diaext;
			}
		</script>
	</head>
	<body onload="window.print()" style="background-color: white">	
		<img alt="Cabeçalho" src="@{'/public/images/cabeca.jpg'}">
		<div class="container body">
			<div class="main_container text-uppercase">
				<h4 class="text-center">comprovante de matricula</h4>
				<div class="row">
					<div class="col-md-12 text-uppercase">
						Código: ${matricula.aluno.id}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-uppercase">
						Nome: ${matricula.aluno.nomeAluno}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-uppercase">
						${matricula.aluno.endereco}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						${matricula.aluno.bairro} &nbsp &nbsp &nbsp ${matricula.aluno.cidade}-${matricula.aluno.uf.nome}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						Cep: ${matricula.aluno.cep} &nbsp &nbsp &nbsp Fone: ${matricula.aluno.fone}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Email: ${matricula.aluno.emailAluno}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Curso: ${matricula.turma.curso.nomeCurso}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Início: ${matricula.turma.dataInicioAula}
					</div>
				</div>
				<div class="row">	
					<div class="col-md-4">
						Turma: ${matricula.turma.codigo} &nbsp &nbsp &nbsp ${matricula.turma.horaInicioAula} - ${matricula.turma.horaFimAula} &nbsp &nbsp &nbsp ${matricula.turma.diasAulas}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Atendido(a) por: ${matricula.atendente}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Observação: 
					</div>
				</div>
				
				<br/><br/><br/><br/>
				
				<div class="row">
					<div class="col-md-12 text-center">
						Luís Gomes - RN,   
						<script language="javascript">
							document.write(DiaExtenso());
						</script>
					</div>
				</div>
				
				<br/><br/>
				
				<div class="row">
					<div class="col-md-12 text-center">
						________________________________________
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						Atendente
					</div>
				</div>
				
				<br/><br/>
								
				<div class="row">
					<div class="col-md-12 text-center">
						____________________________________________________
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						Aluno(a) ou responsável
					</div>
				</div>
			</div>
		</div>
	</body>
</html>