<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="author" content="Joabson Arley">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ficha</title>
		<!-- Bootstrap -->
		<link href="@{'/public/vendors/bootstrap/dist/css/bootstrap.min.css'}" rel="stylesheet" media="all">
	</head>
	<body onload="window.print()">	
		<img alt="Cabeçalho" src="@{'/public/images/cabeca.jpg'}">
		<div class="container body">
			<div class="main_container">
				<h3 class="text-center">Ficha do aluno </h3>
				<div class="row">
					<table class="table table-striped">
						<tr>
							<td><b>Código:</b> ${aluno.id}</td>
							<td><b>Nome:</b> ${aluno.nomeAluno}</td>
							<td><b>Nome</b> social: ${aluno.apelido}</td>
							<td rowspan="2"><img src="@{Alunos.userPhoto(aluno?.id)}" name="prev" style="width: 95px; height: 127px;"></td>
						</tr>
						<tr>
							<td><b>Cadastro:</b> ${aluno.dataCadastro}</td>
							<td><b>Nascimento:</b> ${aluno.dataNascimento}</td>
							<td><b>Sexo:</b> #{if aluno.sexo == "M"} Masculino #{/if}#{else} Feminino #{/else}</td>
						</tr>
					</table>
					<table class="table table-striped">
						<tr>
							<td><b>Natural:</b> ${aluno.naturalidade}</td>
							<td><b>UF:</b> ${aluno.uf.nome}</td>
							<td><b>Pai:</b> ${aluno.pai}</td>
							<td><b>Fone:</b> ${aluno.fone}</td>
						</tr>
						<tr>
							<td><b>Endereço:</b> ${aluno.endereco}</td>
							<td><b>Mãe:</b> ${aluno.mae}</td>
							<td><b>Bairro:</b> ${aluno.bairro}</td>
							<td><b>CEP:</b> ${aluno.cep}</td>
						</tr>
						<tr>
							<td><b>Escolaridade:</b> ${aluno.escolaridade.nome}</td>
							<td><b>Cidade:</b> ${aluno.cidade}</td>
							<td><b>UF:</b> ${aluno.uf.nome}</td>
							<td><b>Email:</b> ${aluno.emailAluno}</td>
						</tr>
						<tr>
							<td><b>RG:</b> ${aluno.rg}</td>
							<td><b>CPF:</b> ${aluno.cpf}</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="4"><b>Observação:</b> ${aluno.observacao}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>