<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="author" content="Joabson Arley">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ficha</title>
		<!-- Bootstrap -->
		<link href="@{'/public/vendors/bootstrap/dist/css/bootstrap.min.css'}" rel="stylesheet">
		<!-- Custom Theme Style -->
		<link href="@{'/public/build/css/custom.min.css'}" rel="stylesheet">
	</head>
	<body onload="window.print()" style="background-color: white;">	
		<div class="container body" style="">
			<div class="main_container">
				<div class="row">
					<div class="col-md-11">
						<div class="col-md-2">
							Código: ${aluno.id}
						</div>
						<div class="col-md-4">
							Nome: ${aluno.nomeAluno}
						</div>
						<div class="col-md-3">
							Apelido: ${aluno.apelido}
						</div>
						<div class="col-md-3">
							Cadastro: ${aluno.dataCadastro}
						</div>
					</div>
					<div class="col-md-1">
						<span class="input-group-addon">
							<img src="@{Alunos.userPhoto(aluno?.id)}" name="prev" style="width: 95px; height: 127px;">
						</span>					
					</div>
				</div>
			</div>
		</div>
	</body>
</html>