<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">



<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
<!--===============================================================================================-->
	<link href="@{'/public/vendors/bootstrap/dist/css/bootstrap.min.css'}" rel="stylesheet">
<!--===============================================================================================-->
	<link href="@{'/public/vendors/font-awesome/css/font-awesome.min.css'}"	rel="stylesheet">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="@{'/public/vendors/css-hamburgers/hamburgers.min.css'}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@{'/public/vendors/select2/dist/css/select2.min.css'}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/cssLogin/util.css'}">
	<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/cssLogin/main.css'}">
<!--===============================================================================================-->
</head>
<body>
	<a href="@{Admins.inicio()}">Link</a>
</body>
</html>